html, body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: #EAEAEA;
}

#calc-bg {
    background-color: #00012A;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    user-select: none;
}

#calc-dysplay {
    background-color: #D4D4D4;
    width: 550px;
    height: 120px;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 25px;
    display: flex;
    justify-content: right;
    align-items: center;
}

#start-column {
    margin-left: 25px;
}

.columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
}

#end-column {
    margin-right: 25px;
}

.button-num {
    background-color: #393E46;
    height: 85px;
    width: 85px;
    border-radius: 10px;
    font-size: 80px;
    color: white;
    font-family: "DS-Digital", sans-serif;
    display: flex;
    justify-content: center;
    border: none;
}

.button-num span {
    font-size: 80px;
}

#result {
    margin: 0;
    font-size: 80px;
    letter-spacing: -2px;
}

button, input {
    outline: none;
}

*:focus {
    outline: none;
}
